 /* установить минимальный шрифт, чтобы можно было отмасштабировать текст 
 
 установить используемые начертания шрифтов
 
 сжать картинки

 поставить тег picture с 1 2 3 4х
 */
/* 

Список изменений по сайту Hello Kion за последние 3 дня:

— Минифицирован мобильный css (улучшена скорость загрузки)
— Добавлены якорные ссылки в хедере и футере
— Добавлен плавный скролл по якорным ссылкам (улучшен UX)
— Изменена ссылка "поддержка" на "KION TOP", потому что на лендинге нет блока с поддержкой
— Добавлен alt для 44 изображений (улучшена доступность)
— Исправлены ошибки с валидацией css (улучшена браузерная поддержка)
— Исправлен баг с прыжком постеров во время закрепления их к верху экрана (баг был вызван тем, что браузеры обрабатывают рендеринг по скроллу на отдельном потоке)
— Длительность увеличения окна на первом экране увеличена до 1 секунды
— Исправлен баг анимации: теперь окно внутри буквы О логотипа KION черного цвета, даже если просколлить обратно
— Добавлена анимация на третьей секции: фильмы двигаются бесконечно влево
— Исправлено 2 бага с анимацией (анимация резко сдвигалась и блоки исчезали)
— Отформатирован html: beautify html
— Текст на лендинге отформатирован через "Типограф" (неразрывные пробелы и длинные тире)
— Переделана анимация тв-каналов с GSAP на CSS (улучшена скорость загрузки сайта)
— Улучшена анимация: Теперь она бесконечная
— Исправлен баг анимации: теперь логотипы ТВ-каналов не исчезают


— Добавлена слайдер с анимацией для KION TOP
— Перемещение анимации слайдера из медиа запроса (теперь анимация слайдера работает и на смартфонах)
— Изменение порядка загрузки плагинов анимации (анимация в верхней сайта теперь загружается быстрее)
— Анимация слайдера теперь более плавная
— Удалена установка случайного цвета фона для слайдов (ускорение загрузки сайта)
— Заменен плагин драггинга для gsap на более новую версию
— Слайдер GSAP использует плагин инерции, не входящий в бесплатную версию GSAP. Без этого плагина слайдер не работает. Для того чтобы слайдер заработал, была установлена пиратская версия плагина. Нужно приобрести лицензию, чтобы на МТС не смогли подали в суд за использование нелицензионного софта. Нужно купить план ShockinglyGreen на https://greensock.com/club/ стоимостью 20 000 руб


Изменения сайта за пару дней:
— Изменены фоны и логотипы в слайдере
— Размеры элементов в FAQ приведены в соответствии с макетом
— Курсор при наведении на вопросы в FAQ теперь в виде указательного пальца 
— Убраны треугольники в FAQ в браузере Safari (Я первым делом работаю над правильным отображением в браузере Google Chrome, потому что им больше людей пользуется. А так как браузеры Safari и Firefox имеют другой движок, то в них сайт может выглядеть по другому.)

— Добавлена фавиконка (картинка во вкладке браузера) в svg формате
— Добавлена фавиконка в ico формате для фоллбека (для поддержки старых браузеров)
— Добавлена фавиконка для mask icon на девайсах apple
— Добавлена touch icon для ios
— Добавлена картинка сайта для гугл хрома на смартфонах через манифест (потому что так требует Lighthouse)
—Изменение цветовой темы браузера на смартфонах при заходе на сайт (теперь она черная вместо дефолтной белой)
— Изменение цветовой темы для десктопного сафари (сафари это поддерживает только в новой версии, а новая версия Safari поддерживается только в новой версии Mac OS, а мне не разрешили обновлять Mac OS, поэтому не могу проверить корректность цветовой темы)

— Добавлена SEO информация о сайте
— Добавлены Open Graph мета теги для соц сетей
— Кнопки на сайте переделаны в ссылки

— Обычные скругления углов заменены на скругления суперэллипсов (теперь углы как у Apple, при том что радиусы углов не изменились). Скругления применены пока что для видео на первом экране и постеров в секции KION ORIGINALS (новые скругления видны только в современных версиях Google Chrome, потому что используется экспериментальная функция Houdini API, а другие браузеры пока не поддерживают Houdini API)

— Сайт написан в современном подходе, и не использует пиксели в качестве размеров элементов. Вместо пикселей используются проценты от ширины экрана. Но Houdini API может использовать только пиксели. Это приводит к тому, что на маленьких дисплеях углы элементов сайта будут плавными, а на больших дисплеях будут острыми.

— Поэтому я написал скрипт, который позволяет мне использовать проценты вместо пикселей. 
Но если изменить размер окна браузера с 4000 пикселей до 300 пикселей, то скрипт не узнает об этом, и будет считать, что размер окна остался большим. 
— Поэтому я улучшил скрипт так, чтобы он переопределял значение в 1% ширины экрана, при изменении размера окна браузера. 
Теперь углы на сайте плавные, независимо от размера окна браузера.

На сайте мне не нравилось то, что увеличивающаяся картинка с логотипом KION на втором экране становится мыльной.
 
Кажется, что это просто растровая PNG картинка с низким разрешением, но на самом деле это векторная SVG картинка.
И, по логике, она не должна становиться мыльной при увеличении. Но в браузерах Safari и Firefox логотип размывался.
А в Google Chrome логотип был очень четким.


Safari и Firefox, при увеличении логотипа, не перерисовывали заново SVG картинку.
А просто масштабировали SVG картинку так, будто она является растровой PNG картинкой (браузеры так делают для улучшения производительности).
 
 
В браузере Firefox исправить этот баг было легко.
Но тот же способ сработавший в Firefox, в Safari не сработал.
 
 
Я попробовал 5 разных способов исправления этого бага, переписывая с нуля эффект увеличения логотипа:
— Три способа не сработали
— Четвертый способ сработал, но мощный макбук при заходе на сайт начинал сильно тормозить. Поэтому я отклонил этот способ
— Пятый способ отлично заработал. Теперь SVG логотип KION не становится мыльным при увеличении во всех основных браузерах
 
 
В ближайших планах:
 
— Оптимизация картинок (в том числе и SVG) на сайте, для уменьшения времени ожидания загрузки сайта
 
— Добавление адаптивных картинок. Если у пользователя 4К монитор, то будут загружаться 4К картинки.
А если у пользователя монитор шириной 768 пикселей, то загрузка 4К картинки не нужна, и будет загружаться картинка шириной 768 пикселей.
Это позволит пользователю с монитором 768 пикселей быстрее загрузить сайт, сэкономив несколько мегабайт, потому что 4К картинка не будет загружаться.
При этом на 4К мониторах картинки будут иметь разрешение 4К, что обеспечит высокую четкость изображений.


— Изменение видео:
Было: 1 видео весом 18mb в формате H.264
Теперь: Вместо одного видео браузер получает три видео на выбор (а у пользователя загрузится только одно из следующих видео):
1) Видео весом 14mb с кодеком AV1. Это новый кодек, который лучше по качеству и весу, чем другие. Этот кодек поддерживает только 74% браузеров. Если браузер не поддерживает данный кодек, то загрузится следующее видео с другим кодеком.
2) Видео весом 18mb с кодеком VP9 в формате webm. Если браузер не поддерживает данный кодек, то загрузится следующее видео с другим кодеком.
3) Видео весом 19mb с кодеком H.264 для очень старых браузеров
P.S. я не конвертировал видеофайлы, иначе качество видео упало бы. Эти три видео в разных форматах я скачал с youtube. И они все без аудиодорожки.

— Оптимизация загрузки для первого экрана:

Раньше: Под видео находилась картинка из макета Figma. А под картинкой находился черный фон. А под фоном черно-синий градиент. Для пользователей с медленным интернетом у которых долго грузится видео - вместо видео сначала отображался черный фон поверх градиента. Затем отображалась картинка из макета. Как только видео начнет грузиться - начнет отображаться видео. 
У пользователей со средней скоростью интернета это приводило к тому что на долю секунды сначала мелькал черный фон, затем мелькала картинка из фигмы (как будто два 25 кадра). И только затем отображалось видео.
Сейчас: Картинка из макета заменена на картинку первого кадра видео. Теперь нет резкой смены картинки на первом экране. 
— Картинка первого кадра сжата с 2.5mb до 0.08mb

— Оптимизация шрифтов:
В мобильной версии используются 5 видов начертаний шрифтов
После тире указывается кол-во элементов текста с данным начертанием
400 (regular) - 6
500 (medium) - 3
600 (semi-bold) - 1
700 (bold) - 8
800 (extra-bold) - 1

В десктопной версии начертания наследуются от мобильной (то есть начертания теже самые)
Но есть новые начертания:
400-6
500
600
700-2
800
Каждый отдельный файл начертания увеличивает время загрузки сайта. Поэтому я уменьшил кол-во начертаний с 5 до 3, чтобы ускорить загрузку сайта
оставив только
400 (regular)
500 (medium)
700 (bold)

— На сайт было до этого загружено всего 2 начертания шрифта (bold и regular), теперь  их три (bold, regular medium)

— Шрифты раньше загружались только когда браузер дойдет до CSS. Теперь шрифты начинают загружаться раньше, потому что предзагружаются на этапе обработки html

— Каждое начертание весило по 150kb. Форматирование их в формат woff2 позволило снизить вес каждого начертания до 53kb
— Я удалил ненужные символы из шрифта, тем самым сократив размер каждого начертания до 29kb. Теперь шрифты у пользователей загружаются быстрее

— Сервер начал выдавать ошибки, из-за которых публикация изменений на сайт стала невозможна. Исправил. Теперь все ОК.

— Изменил  анимацию прелоадера. Раньше у пользователей с быстрым интернетом и производительными устройствами прелоадер скрывался уже через пол секунды. И из-за этого они не могли увидеть анимацию логотипа KION на прелоадере. Я добавил задержку в 2 секунды. И теперь анимацию логотипа увидят все.

— Добавил анимацию логотипа KION в самом верху сайта при наведении мыши. 

— CSS для прелоадера в html был переменщен из body в head для прохождения валидации
— Добавил анимацию svg для "Created by MTS" на первом экране. Анимация проигрывается после скрытия прелоадера
— Анимация логотипа KION сломалась из-за добавления анимации к "Created by MTS". Исправил. 

— Изменения логотипа KION (который увеличивается при скролле): 
— При увелечении можно было увидеть что буква О имеет внутренний неровный черный контур. Исправлено.
— Сжал размер svg файла логотипа KION с 2kb до 1kb 

— Переделал отступы в хеадере сайта, чтобы было как на макете
— Добавил 300мс задержкe появления хеадера
— Выровнял текста на первом экране и в преимуществах

— Добавлены скругления суперэллипсов для постеров на 3 экране сайта

— Постер "Пингвины моей мамы" изменен:
Раньше была картинка с низким разрешением и небольшим кол-вом цветов
Теперь картинка в высоком разрешении, и с большей поддержкой цветов. Картинка стала заметно ярче.
Вместо 1 картинки теперь браузер получает на выбор 16 картинок. И браузер скачивает наиболее подходящую.

Восемь сжатых картинок в формате webp (это новый формат изображений, который лучше сжимает фото без потери качества по сравнению с jpg)
Восемь сжатых картинок в формаете jpg (нужны для старых браузеров, которые не умеют обрабатывать webp. 6% пользователей в интернете используют старые браузеры, не поддерживающие webp)

Из восьми картинок: 
4 картинки для смартфонов (пользователям смартфонов не нужны картинки с высоким разрешением)
4 картинки для планшетов и пк (картинки с повышенным разрешением)

В браузерах

iPhone 12 Pro имеет разрешение 2532×1170 физических пикселей
Но если сайт узнает о том, что у смартфона такое большее разрешение дисплея, то сайт отобразится в версии для монитора с большим разрешением. 
Элементы полноценного сайта будут выглядеть мелко на смартфоне, и пользователю придется все время приближать сайт, чтобы прочитать текст.
Поэтому на смартфонах в браузерах используются не физические пиксели, а виртуальные.
У iPhone 12 Pro разрешение виртуальных пикселей равно 844х390
И чтобы на смартфонах сайты не выглядели размыто, смартфоны увеличивают получаемую картинку на коэффициент DPR
У iPhone 12 Pro коэффициент DPR равен 3.
Поэтому 844х390 умноженное на 3 равное 2532x1170 (столько же сколько и физических пикселей)

У каждого смартфона разный коэффициент DPR
И теперь на сайте есть 4 картинки для разных DPR: 1x, 2x, 3x, 4x

Добавлены адаптивные картинки для всех постеров KION Originals
У постеров "Почка" и "Два" при смене jpg на webp постер становился менее тусклым, из-за того что терялось цветовое пространство Adobe RGB. Поэтому webp для этих постеров я не использовал. Постеры должны оставаться яркими.

Добавлена анимация для второй svg под первым экраном 

Декодирование картинок теперь асинхронное (рендеринг картинок стал быстрее)


Добавлена анимация градиента для всех кнопок на сайте

Теперь ряды телеканалов двигаются с разной скоростью 
(но тв-каналов в фигме было мало, поэтому логотипы дублируются)

Добавлена анимация смены цвета фона при скролле до FAQ
Исправлен баг анимации смены цвета фона

Изменена ширина и текст кнопки "Подключить KION TOP"
Добавлен скрытый текст, необходимый для скринридера и прохождения валидации
Исправлен баг при котором у слайдера KION TOP не работали скругления в браузере Safari

Добавлен горизонтальный скролл смены девайсов (нужно задизайнить)

Анимация увеличения логотипа теперь плавнее
Постеры теперь прикрепляются не к самому верху экрана
Изменен способ прикрепления постеров: Раньше был GSAP, теперь CSS. Теперь постеры не дергаются

Изменение FAQ: 
Раньше плашки открывались только при клике на текст. При клике на край плашки, плашка не открывалась.
Теперь область для клика увеличена.

Исправил ошибку деплоя на сервере
Сократил html (сайт загрузится быстрее)
Исправил мета тег для видео
Исправил якорные ссылки

Перевел js скрипты в строгий режим
Перенес скрипты в head и проставил defer. Это позволило отрисовывать сайт на смартфонах на 100мс быстрее

Изменен easing увеличения видео

*/
@media (min-width: 700px) {
	
	
	.header {
		margin: 0 auto;
		width: 64.7135417vw;
		height: 4.39453125vw; /* 135px */
		align-items: flex-end;

		&__left {
			display: flex;
			width: 30vw; /* 500px */

			&--link {
				display: inline-block;
				color: white;
				font-weight: 400;
				font-size: 0.9765625vw;
				line-height: 140%;
				margin-right: 1.953125vw; /* 60px */
				margin-bottom: 1.33463542vw;
			}
		}
		&__right {
			display: flex;
			width: 30vw; /* 500px */
			justify-content: flex-end;

			&--link {
				display: inline-block;
				color: white;
				font-weight: 400;
				font-size: 0.9765625vw;
				line-height: 140%;
				margin-left: 1.953125vw; /* 60px */
				margin-bottom: 1.33463542vw;
			}
		}
	
		
		
		&__logo {
			margin: 0 0 0 0;
			width: 6.77083333vw;
			height: 1.62760417vw;
			margin-bottom: 1.20442708vw;
		}
	}
	
	
	
	.s1 {
	
		&__wrapper {
			width: 89.453125vw;
			height: 51.8554688vw;
			border-radius: 3.25520833vw;
		}
		
		&__video {
			border-radius: 3.25520833vw;
		}
		
		&__h1 {
			font-size: 3.25520833vw;
			line-height: 140%;
			margin-top: 21.1588542vw;
			margin-bottom: 0.325520833vw;
		}

		&__h2 {
			font-size: 1.953125vw;
			line-height: 140%;
			margin-bottom: 3.58072917vw;
		}
		&__button {
			width: 21.5820312vw;
			height: 3.90625vw;
			font-size: 1.30208333vw; /* 40px */
			margin-top: 0;
			margin-bottom: auto;
			border-radius: 0.325520833vw; /* 10px */
		}	

		
		

		&__mts {
			width: 17.7734375vw; /* 146px */
			margin-bottom: 1.49739583vw;
		}


		&__benefits {
			margin-top: 0;
			padding-bottom: 3.28776042vw;
		}
	
		&__benefit {
			width: 22.3632812vw; /* 687px */
			min-height: 20vw; 
			
		}
	
		&__benefit--image1 {
			width: 6.60807292vw; /* 203px */
		}
		&__benefit--image2 {
			width: 6.34765625vw; /* 195px */
		}
		&__benefit--image3 {
			width: 6.8359375vw; /* 210px */
		}
		&__benefit--image4 {
			width: 5.79427083vw; /* 178px */
		}
	
		&__benefit--text {
			font-size: 1.43229167vw; /* 44px */
			margin-top: 2.31119792vw; /* 73px */
			min-height: 0;
			line-height: 126.4%;
			max-width: 16ch;

			span {
				font-size:1.953125vw;
				line-height: 60%;
			}
		}
	}

	.s2 {
		
		.overlay {
			display: block;
			position: sticky;
			width: calc(100vw + 4px);
			height: calc(100vh + 4px);
			top: -2px;
			left: -2px;
			z-index: 20;
			overflow: hidden;
			contain: layout;
			pointer-events: none;
			margin-top: -1px;
			max-width: 100vw;
		}

		.overlay2 {
			transform-origin: center;
		}

		.overlay svg {
			contain: layout;
			min-height: 101%;
			min-width: 101%;
			margin: 0 auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		
		&__wrapper {
			position: relative;
			// position: sticky;
			width: 100vw; /* 818px */
			height: 100vw;
			// height:10vw;
			// top:0px;
			z-index: 2;
			// overflow: hidden;
		}

		&__svg-perehod {
			position: absolute;
			width: 200vw;
			height: 71.0998008vw;
			max-width: 10000%;
			max-height: 10000%;
			display: block;
			z-index: 2;
			opacity: 0.8;
			// top: 50%;  /* position the top  edge of the element at the middle of the parent */
			// left: 50%; /* position the left edge of the element at the middle of the parent */
			left: 50%;
			transform: translateX(-50%);
			// transform: scale(0.1);
		
		}



		&__header {
		
			&--logo {
				margin-top: 8.91927083vw; /* 274px */
				width: 26.6276042vw; /* 818px */
			}
			&--text {
				margin-top: 2.47395833vw; /* 76px */
				font-size: 1.62760417vw; /* 50px */
				line-height: 2.60416667vw; /* 80px */
				width: 71.3541667vw; /* 2192px */
			}
		}
		
		&__posters {
			margin-top: 0.78125vw; /* 24px */
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 58.3333333vw; /* 1792px */

			&--poster {
				top: 2vw;
				display: block;
				margin-top: 3.90625vw; /* 120px */
				width: 27.2135417vw; /* 836px */
				height: 33.3333333vw;
				border-radius: 1vw;/* 0.651041667vw; 20px */
				
				img { 
					border-radius: 1vw;
					width: 100%;
					max-height: 100%;
					object-fit: cover;
				}
			}

			.js5 {
				z-index: 1;
			}

			.js6 {
				z-index: 1;
			}
		}

		&__button {
			margin-top: 4.8828125vw; /* 150px */
			width: 21.1588542vw; /* 650px */
			height: 3.90625vw; /* 120px */
			border-radius: 0.325520833vw; /* 10px */
			font-size: 1.30208333vw; /* 40px */
			font-weight: 400; /* medium */
			margin-bottom: 9.765625vw; /* 300px */
		}

	}




	.s3 {
		padding-top: 10.4492188vw; /* 321px */
	

		&__header {
			width: 66.1132812vw; /* 2031px */
			font-size: 3.25520833vw; /* 100px */
		}

		&__text {
			width: 68.4244792vw; /* 2102px */
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}

		.marquee {
			margin-top: 5.33854167vw; /* 164px */
			height: 27.8645833vw; /* 856px */
		  }

		&__images {
			
			// margin-left: 12.9231771vw; /* 397px */
			// width: 89.453125vw; /* 2748px */
			width: 381.25vw;
			height: 27.8645833vw; /* 856px */

			&--image {
				width: 20.6054688vw; /* 633px */
				border-radius: 0.651041667vw; /* 20px */
				object-fit: none;
				--squircle-radius: 20px;
			}
			&--image5 {
				object-position: center 90%;
			}
			&--image6 {
				object-fit: cover;
			}
	
			&--column {

				img {
					height: 12.7604167vw; /* 392px */
				}
			}
		}

		  
	}

	.s4 {

		&__header {
			width: 66.1132812vw; /* 2031px */
			font-size: 3.25520833vw; /* 100px */
			margin-top: 13.57421875vw;
		}

		&__text {
			width: 68.4244792vw; /* 2102px */
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}

		&__image {
			width: 91.1458333vw; /* 2800px */
			margin-top: 4.55729166667vw;  /* 140px */
		}
	}


	.s5 {

		&__header {
			width: 40.6901042vw;
			font-size: 3.25520833vw; /* 100px */
			margin-top: 4.55729166667vw; // 140px
		}

		&__text {
			width: 68.4244792vw; /* 2102px */
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}

		&__tv {
			margin-top: 3.64583333vw;
			// margin-left: 5.2734375vw;
			// width: 106.770833vw;
			
			// &--row {
			// 	margin-top: 2.60416667vw;
			// }
			// .first-row {
			// 	margin-left: -5.859375vw;
			// }
			.second-row {
				margin-left: -5.859375vw;
			}
			// .third-row {
			// 	margin-left: -5.859375vw;
			// }
			&--channel {
				width: 13.0208333vw;
				height: 13.0208333vw;
				margin-right: 2.60416667vw;
			}

			&--image1 {
				width: 9.765625vw; 
			}
			&--image2 {
				width: 5.59895833vw;
			}
			&--image3 {
				width: 9.765625vw; 
			}
			&--image4 {
				width: 9.04947917vw;
			}
			&--image5 {
				width: 9.765625vw; 
			}
			&--image6 {
				width: 8.59375vw;
			}


			&--image7 {
				width: 7.6171875vw;
			}
			&--image8 {
				width: 9.375vw;
			}
			&--image9 {
				width: 6.640625vw;
			}
			&--image10 {
				width: 9.765625vw; 
			}
			&--image11 {
				width: 7.12890625vw;
			}
			&--image12 {
				width: 8.43098958vw;
			}


			&--image13 {
				width: 11.71875vw;
			}
			&--image14 {
				width: 10.4817708vw;
			}
			&--image15 {
				width: 8.85416667vw;
			}
			&--image16 {
				width: 9.765625vw; 
			}
			&--image17 {
				width: 9.765625vw; 
			}
			&--image18 {
				width: 8.65885417vw;
			}

		}

		.marquee {
			height: 44.3033854vw;
		}
	
		.track2 {
			top: 15.625vw;
		}	
	
		.track3 {
			top: 31.25vw;
		}
	}

	.s6 {
		padding-top: 15.2994792vw;

		&__wrapper {
			border-radius: 3.25520833vw;
			width: 89.453125vw;
			height: 51.8554688vw;
			margin: 0 auto;
		}


		&__header {
			width: 41.6666667vw; /* 2031px */
			font-size: 3.25520833vw; /* 100px */
			margin-top: 4.55729166667vw; // 140px
		}

		&__text {
			width: 68.4244792vw; /* 2102px */
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}
	}


	.s7 {

		&__logo {
			margin-top: 15.2669271vw;
			width: 30.2734375vw;
		}

		&__header {
			font-size: 3.25520833vw; /* 100px */
			margin-top: 2.21354167vw;
		}

		&__text {
			width: 77.9296875vw;
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}

		&__button {
			margin-top: 4.8828125vw; /* 150px */
			width: 18.5221354vw; /* 569px */
			height: 3.90625vw; /* 120px */
			border-radius: 0.325520833vw; /* 10px */
			font-size: 1.30208333vw; /* 40px */
			font-weight: 400; /* medium */
		}

	
	}


	.s8 {
		padding-top: 4.55729167vw;
		padding-bottom: 11.6536458vw;

		&__wrapper {
			border-radius: 3.25520833vw;
			width: 89.453125vw;
			height: 51.8554688vw;
			margin: 0 auto;
		}

		&__logo1 {
			width: 18.3268229vw;
		}

		&__logo2 {
			width: 31.3802083vw;
		}

		&__logo3 {
			width: 14.7135417vw;
		}
	}


	.s9 {
		padding-bottom: 16.015625vw;
		border-radius: 0 0 3.25520833vw 3.25520833vw;

		&__header {
			font-size: 3.25520833vw; /* 100px */
			margin-top: 8.203125vw; /* 252px */
			margin-bottom: 3.35286458vw;
		}

		details {
			width: 66.1132812vw;
			min-height: 5.859375vw;
			border-radius: 0.651041667vw;
			margin-top: 0.651041667vw; // 20px
			box-shadow: inset 0.0651041667vw 0.0651041667vw 0.162760417vw #BABECC, 
						inset -0.162760417vw -0.162760417vw 0.325520833vw #FFFFFF;

			summary {
				font-size: 2.1484375vw;
				padding: 1.43229167vw 2.63671875vw 1.46484375vw 2.63671875vw ;
			}

			p {
				font-size: 1.62760417vw;
				padding: 0 2.63671875vw 2.44140625vw 2.63671875vw;
				// width: 56.9986979vw;
			}

			&[open]{
				box-shadow: -0.162760417vw -0.162760417vw 0.651041667vw #FFFFFF, 0.162760417vw 0.162760417vw 0.651041667vw #BABECC;
			}

		}
	}

		
	.footer {
		flex-direction: row;
		justify-content: space-around;
		margin: 3.54817708vw auto 3.61328125vw auto;
		width: 64.7135417vw;
		height: unset;
		align-items: flex-start;

		&__left {
			order: 1;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			width: 30vw; /* 500px */
			height: unset; /* 135px */
			margin-top: 0;
			color: white;
			font-size: max(12px, 0.9765625vw);

			&--link {
				display: inline-block;
				margin-right: 1.953125vw; /* 60px */
			}
		}
			
		&__logo {
			order: 2;
			margin: 0 auto;
			width: 13.4114583vw;
		}
		&__right {
			order: 3;
			width: 30vw; /* 500px */
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-top: 0;
			height: unset; /* 135px */
			font-size: max(12px, 0.9765625vw);

			&--link {
				display: inline-block;
				margin-left: 1.953125vw; /* 60px */
			}
		}

	}
}
