 /* установить минимальный шрифт, чтобы можно было отмасштабировать текст */
/* 
минифицирован мобильный css
добавлены якорные ссылки 
добавлен плавный скролл по якорным ссылкам
изменена ссылка "поддержка" на "kion top"
добавлен alt для 44 изображений
исправлены ошибки с валидацией css
исправлен баг с прыжком постеров во время закрепления их к верху экрана
*/
@media (min-width: 700px) {
	
	
	.header {
		margin: 0 auto;
		width: 64.7135417vw;
		height: 7.2463768vh; /* 135px */
		align-items: center;

		&__left {
			display: flex;
			width: 30vw; /* 500px */

			&--link {
				display: inline-block;
				color: white;
				font-weight: 400;
				font-size: max(12px, 0.9765625vw);
				margin-right: 1.953125vw; /* 60px */
			}
		}
		&__right {
			display: flex;
			width: 30vw; /* 500px */
			justify-content: flex-end;

			&--link {
				display: inline-block;
				color: white;
				font-weight: 400;
				font-size: max(12px, 0.9765625vw);
				margin-left: 1.953125vw; /* 60px */
			}
		}
	
		
		
		&__logo {
			margin: 0 auto;
			width: 6.77083333vw;
		}
	}
	
	
	
	.s1 {
	
		&__wrapper {
			width: 89.453125vw;
			height: 51.8554688vw;
			border-radius: 3.25520833vw;
		}
		
		&__video {
			border-radius: 3.25520833vw;
		}
		
		&__h1 {
			font-size: 3.25520833vw;
			line-height: 140%;
			margin-top: 24%;
			margin-bottom: 0.325520833vw;
		}

		&__h2 {
			font-size: 1.953125vw;
			line-height: 140%;
			margin-bottom: 3.58072917vw;
		}
		&__button {
			width: 21.5820312vw;
			height: 3.90625vw;
			font-size: 1.30208333vw; /* 40px */
			margin-top: 0;
			margin-bottom: auto;
		}

		&__img {
			
			width: 17.7734375vw; /* 146px */
			margin-bottom: 1.49739583vw;
		}


		&__benefits {
			margin-top: 0;
			padding-bottom: 3.28776042vw;
		}
	
		&__benefit {
			width: 22.3632812vw; /* 687px */
			min-height: 21.7122396vw; /* 667px */
			
		}
	
		&__benefit--image1 {
			width: 6.60807292vw; /* 203px */
		}
		&__benefit--image2 {
			width: 6.34765625vw; /* 195px */
		}
		&__benefit--image3 {
			width: 6.8359375vw; /* 210px */
		}
		&__benefit--image4 {
			width: 5.79427083vw; /* 178px */
		}
	
		&__benefit--text {
			font-size: 1.43229167vw; /* 44px */
			margin-top: 2.31119792vw; /* 73px */
			min-height: 0;
			line-height: 126.4%;
			max-width: 16ch;

			span {
				font-size:1.953125vw;
			}
		}
	}







	.s2 {

		&__svg-perehod {
			width: 100vw; /* 818px */
			display: flex;
			z-index: 2;
		}

		&__header {
			&--logo {
				margin-top: 8.91927083vw; /* 274px */
				width: 26.6276042vw; /* 818px */
			}
			&--text {
				margin-top: 2.47395833vw; /* 76px */
				font-size: 1.62760417vw; /* 50px */
				line-height: 2.60416667vw; /* 80px */
				width: 71.3541667vw; /* 2192px */
			}
		}
		
		&__posters {
			margin-top: 0.78125vw; /* 24px */
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 58.3333333vw; /* 1792px */

			&--poster {
				margin-top: 3.90625vw; /* 120px */
				width: 27.2135417vw; /* 836px */
				border-radius:  1vw;/* 0.651041667vw; 20px */
			}


			

			.js5 {
				z-index: 1;
			}

			.js6 {
				z-index: 1;
			}
		}

		&__button {
			margin-top: 4.8828125vw; /* 150px */
			width: 21.1588542vw; /* 650px */
			height: 3.90625vw; /* 120px */
			border-radius: 0.325520833vw; /* 10px */
			font-size: 1.30208333vw; /* 40px */
			font-weight: 400; /* medium */
			margin-bottom: 9.765625vw; /* 300px */
		}

	}




	.s3 {
		padding-top: 10.4492188vw; /* 321px */
	

		&__header {
			width: 66.1132812vw; /* 2031px */
			font-size: 3.25520833vw; /* 100px */
		}

		&__text {
			width: 68.4244792vw; /* 2102px */
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}


		&__images {
			margin-top: 5.33854167vw; /* 164px */
			margin-left: 12.9231771vw; /* 397px */
			width: 89.453125vw; /* 2748px */
			height: 27.8645833vw; /* 856px */

			&--image {
				width: 20.6054688vw; /* 633px */
				border-radius: 0.651041667vw; /* 20px */
				object-fit: none;
			}
			&--image5 {
				object-position: center 90%;
			}
			&--image6 {
				object-fit: cover;
			}
	
			&--column {

				img {
					height: 12.7604167vw; /* 392px */
				}
			}
		}

	}

	.s4 {

		&__header {
			width: 66.1132812vw; /* 2031px */
			font-size: 3.25520833vw; /* 100px */
			margin-top: 13.57421875vw;
		}

		&__text {
			width: 68.4244792vw; /* 2102px */
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}

		&__image {
			width: 91.1458333vw; /* 2800px */
			margin-top: 4.55729166667vw;  /* 140px */
		}
	}


	.s5 {

		&__header {
			width: 66.1132812vw; /* 2031px */
			font-size: 3.25520833vw; /* 100px */
			margin-top: 4.55729166667vw; // 140px
		}

		&__text {
			width: 68.4244792vw; /* 2102px */
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}

		&__tv {
			margin-top: 1.1vw;
			margin-left: 5.2734375vw;
			width: 106.770833vw;
			
			&--row {
				margin-top: 2.60416667vw;
			}
			.first-row {
				margin-left: 5.859375vw;
			}
			.third-row {
				margin-left: 5.859375vw;
			}
			&--channel {
				width: 13.0208333vw;
				height: 13.0208333vw;
				margin-right: 2.60416667vw;
			}

			&--image1 {
				width: 9.765625vw; 
			}
			&--image2 {
				width: 5.59895833vw;
			}
			&--image3 {
				width: 9.765625vw; 
			}
			&--image4 {
				width: 9.04947917vw;
			}
			&--image5 {
				width: 9.765625vw; 
			}
			&--image6 {
				width: 8.59375vw;
			}


			&--image7 {
				width: 7.6171875vw;
			}
			&--image8 {
				width: 9.375vw;
			}
			&--image9 {
				width: 6.640625vw;
			}
			&--image10 {
				width: 9.765625vw; 
			}
			&--image11 {
				width: 7.12890625vw;
			}
			&--image12 {
				width: 8.43098958vw;
			}


			&--image13 {
				width: 11.71875vw;
			}
			&--image14 {
				width: 10.4817708vw;
			}
			&--image15 {
				width: 8.85416667vw;
			}
			&--image16 {
				width: 9.765625vw; 
			}
			&--image17 {
				width: 9.765625vw; 
			}
			&--image18 {
				width: 8.65885417vw;
			}

		}
	}

	.s6 {
		padding-top: 15.2994792vw;

		&__wrapper {
			border-radius: 3.25520833vw;
			width: 89.453125vw;
			height: 51.8554688vw;
			margin: 0 auto;
		}


		&__header {
			width: 41.6666667vw; /* 2031px */
			font-size: 3.25520833vw; /* 100px */
			margin-top: 4.55729166667vw; // 140px
		}

		&__text {
			width: 68.4244792vw; /* 2102px */
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}
	}


	.s7 {

		&__logo {
			margin-top: 15.2669271vw;
			width: 30.2734375vw;
		}

		&__header {
			font-size: 3.25520833vw; /* 100px */
			margin-top: 2.21354167vw;
		}

		&__text {
			width: 77.9296875vw;
			font-size: 1.62760417vw; /* 50px */
			margin-top: 1.26953125vw;  /* 39px */
		}

		&__button {
			margin-top: 4.8828125vw; /* 150px */
			width: 21.1588542vw; /* 650px */
			height: 3.90625vw; /* 120px */
			border-radius: 0.325520833vw; /* 10px */
			font-size: 1.30208333vw; /* 40px */
			font-weight: 400; /* medium */
		}
	}


	.s8 {
		padding-top: 4.55729167vw;
		padding-bottom: 11.6536458vw;

		&__wrapper {
			border-radius: 3.25520833vw;
			width: 89.453125vw;
			height: 51.8554688vw;
			margin: 0 auto;
		}


		&__logo {
			width: 18.3268229vw;
		}
	}


	.s9 {
		padding-bottom: 16.015625vw;
		border-radius: 0 0 3.25520833vw 3.25520833vw;
		&__header {
			font-weight: 700;
			font-size: 3.25520833vw; /* 100px */
			margin-top: 8.203125vw;
			margin-bottom: 3.35286458vw;
		}

		details {
			width: 66.1132812vw;
			min-height: 5.859375vw;
			border-radius: 0.651041667vw;
			background: #EBECF0;
			// box-shadow: inset 0.3vw 0.3vw 0.6vw #BABECC, inset -0.3vw -0.3vw 0.6vw #FFFFFF;
			padding: 1.43229167vw 2.63671875vw;
			

			summary {
				display: flex;
				flex-direction: column;
				justify-content: center;
				min-height: 5.859375vw;
				color: #141414;
				font-weight: 700;
				font-size: 2.1484375vw;
			}

			p {
				font-size: 1.62760417vw;
				line-height: 140%;
				color: #141414;
				margin-bottom: 2.44140625vw;
			}
		}

		// details[open]{
		// 	box-shadow: 2px 2px 5px 0px #BABECC;
		// 	box-shadow: -2px -2px 5px 0px #FFFFFF;
		// }
	}

		
	.footer {
		flex-direction: row;
		justify-content: space-around;
		margin: 3.54817708vw auto 3.61328125vw auto;
		width: 64.7135417vw;
		height: unset;
		align-items: flex-start;

		&__left {
			order: 1;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			width: 30vw; /* 500px */
			height: unset; /* 135px */
			margin-top: 0;
			color: white;
			font-weight: 400;
			font-size: max(12px, 0.9765625vw);

			&--link {
				display: inline-block;
				margin-right: 1.953125vw; /* 60px */
			}
		}
			
		&__logo {
			order: 2;
			margin: 0 auto;
			width: 13.4114583vw;
		}
		&__right {
			order: 3;
			width: 30vw; /* 500px */
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-top: 0;
			height: unset; /* 135px */
			font-weight: 400;
			font-size: max(12px, 0.9765625vw);

			&--link {
				display: inline-block;
				margin-left: 1.953125vw; /* 60px */
			}
		}

	}
}
