 /* установить минимальный шрифт, чтобы можно было отмасштабировать текст */

@media (min-width: 700px) {
	
	
	.header {
		margin: 0 auto;
		width: 64.7135417vw;
		height: 7.2463768vh; /* 135px */
		align-items: center;

		&__left {
			display: flex;
			width: 30vw; /* 500px */

			&--link {
				display: inline-block;
				color: white;
				font-weight: 400;
				font-size: max(12px, 0.9765625vw);
				margin-right: 1.953125vw; /* 60px */
			}
		}
		&__right {
			display: flex;
			width: 30vw; /* 500px */
			justify-content: flex-end;

			&--link {
				display: inline-block;
				color: white;
				font-weight: 400;
				font-size: max(12px, 0.9765625vw);
				margin-left: 1.953125vw; /* 60px */
			}
		}
	
		
		
		&__logo {
			margin: 0 auto;
			width: 6.77083333vw;
		}
	}
	
	
	
	.s1 {
	
		&__wrapper {
			width: 89.453125vw;
			height: 51.8554688vw;
			border-radius: 3.25520833vw;
		}
		
		&__video {
			border-radius: 3.25520833vw;
		}
		
		&__h1 {
			font-size: 3.25520833vw;
			line-height: 140%;
			margin-top: 24%;
			margin-bottom: 0.325520833vw;
		}

		&__h2 {
			font-size: 1.953125vw;
			line-height: 140%;
			margin-bottom: 3.58072917vw;
		}
		&__button {
			width: 21.5820312vw;
			height: 3.90625vw;
			font-size: 1.30208333vw; /* 40px */
			margin-top: 0;
			margin-bottom: auto;
		}

		&__img {
			
			width: 17.7734375vw; /* 146px */
			margin-bottom: 1.49739583vw;
		}


		&__benefits {
			margin-top: 0;
		}
	
		&__benefit {
			width: 22.3632812vw; /* 687px */
			min-height: 21.7122396vw; /* 667px */
			
		}
	
		&__benefit--image1 {
			width: 6.60807292vw; /* 203px */
		}
		&__benefit--image2 {
			width: 6.34765625vw; /* 195px */
		}
		&__benefit--image3 {
			width: 6.8359375vw; /* 210px */
		}
		&__benefit--image4 {
			width: 5.79427083vw; /* 178px */
		}
	
		&__benefit--text {
			font-size: 1.43229167vw; /* 44px */
			margin-top: 2.31119792vw; /* 73px */
			min-height: 0;
			line-height: 126.4%;
			max-width: 16ch;

			span {
				font-size:1.953125vw;
			}
		}
	}







	.s2 {

		&__svg-perehod {
			width: 100vw; /* 818px */
		}

		&__header {
			&--logo {
				margin-top: 8.91927083vw; /* 274px */
				width: 26.6276042vw; /* 818px */
			}
			&--text {
				margin-top: 2.47395833vw; /* 76px */
				font-size: 1.62760417vw; /* 50px */
				line-height: 2.60416667vw; /* 80px */
				width: 71.3541667vw; /* 2192px */
			}
		}
		
		&__posters {
			margin-top: 0.78125vw; /* 24px */
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 58.3333333vw; /* 1792px */

			&--poster {
				margin-top: 3.90625vw; /* 120px */
				width: 27.2135417vw; /* 836px */
				border-radius: 0.651041667vw; /* 20px */
			}
		}

		&__button {
			margin-top: 4.8828125vw; /* 150px */
			width: 21.1588542vw; /* 650px */
			height: 3.90625vw; /* 120px */
			border-radius: 0.325520833vw; /* 10px */
			font-size: 1.30208333vw; /* 40px */
			font-weight: 400; /* medium */
			margin-bottom: 9.765625vw; /* 300px */
		}

	}

}
