@font-face {
	font-weight: 700; /* bold */
	font-family: 'Hero New';
	src: url('../fonts/Hero-New-Bold.woff2');
}
@font-face {
	font-weight: 400; /* regular / normal */
	font-family: 'Hero New';
	src: url('../fonts/Hero-New-Regular.woff2');
}

body {
	background-color: grey;
	font-family: 'Hero New', system-ui, sans-serif;
}





