@font-face {
	font-weight: 700; /* bold */
	font-family: 'Hero New';
	src: url('../fonts/Hero-New-Bold-subset.woff2');
}
@font-face {
	font-weight: 500; /* medium */
	font-family: 'Hero New';
	src: url('../fonts/Hero-New-Medium-subset.woff2');
}
@font-face {
	font-weight: 400; /* regular / normal */
	font-family: 'Hero New';
	src: url('../fonts/Hero-New-Regular-subset.woff2');
}

/// надо изменить alt в svg тв каналов

:root {
	background: black ;
	background-image: linear-gradient(89deg, #3A3D91 0.92%, #393289 32.37%, #C12E7D 73.27%, #C62E68 98.43%, #CC2D50 121.71%);
	font-family: 'Hero New', system-ui, sans-serif;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}
::selection {
	background-color: #f06;
	color: white;
  }

// обнуление для браузера Vivo
body { 
	margin: 0;
	padding: 0;
}


.header {
	display: flex;
	justify-content: space-around;


	&__logo {
		width: 31.25vw;
		margin: 2.8125vw auto; /* 9px */
		display: flex; /* чтобы высота была равна высоте картинки */
	}

	@keyframes animate-svg-stroke-1 {
		0% {
			stroke-dashoffset: 399.6763610839844px;
			stroke-dasharray: 399.6763610839844px;
		}

		100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 399.6763610839844px;
		}
	}
	@keyframes animate-svg-stroke-1-hover {
		0% {
			stroke-dashoffset: 399.6763610839844px;
			stroke-dasharray: 399.6763610839844px;
		}

		100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 399.6763610839844px;
		}
	}


	@keyframes animate-svg-fill-1 {
		0% {
			fill: transparent;
		}

		100% {
			fill: rgb(255, 255, 255);
		}
	}

	@keyframes animate-svg-fill-1-hover {
		0% {
			fill: rgb(255, 255, 255);
		}

		100% {
			fill: transparent;
		}
	}
	.svg-head-1 {
		animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s reverse both,
		animate-svg-fill-1 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
	}
	&__logo:hover .svg-head-1 {
		animation: animate-svg-stroke-1-hover 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s normal both,
		animate-svg-fill-1-hover 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
	}

	@keyframes animate-svg-stroke-2 {
		0% {
			stroke-dashoffset: 260.6836853027344px;
			stroke-dasharray: 260.6836853027344px;
		}

		100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 260.6836853027344px;
		}
	}
	@keyframes animate-svg-stroke-2-hover {
		0% {
			stroke-dashoffset: 260.6836853027344px;
			stroke-dasharray: 260.6836853027344px;
		}

		100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 260.6836853027344px;
		}
	}

	@keyframes animate-svg-fill-2 {
		0% {
			fill: transparent;
		}

		100% {
			fill: rgb(255, 255, 255);
		}
	}
	@keyframes animate-svg-fill-2-hover {
		0% {
			fill: rgb(255, 255, 255);
		}

		100% {
			fill: transparent;
		}
	}
	.svg-head-2 {
		animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s reverse both,
		animate-svg-fill-2 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
	}
	&__logo:hover .svg-head-2 {
		animation: animate-svg-stroke-2-hover 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s normal both,
		animate-svg-fill-2-hover 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
	}

	@keyframes animate-svg-stroke-3 {
		0% {
			stroke-dashoffset: 274.9515686035156px;
			stroke-dasharray: 274.9515686035156px;
		}

		100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 274.9515686035156px;
		}
	}
	@keyframes animate-svg-stroke-3-hover {
		0% {
			stroke-dashoffset: 274.9515686035156px;
			stroke-dasharray: 274.9515686035156px;
		}

		100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 274.9515686035156px;
		}
	}

	@keyframes animate-svg-fill-3 {
		0% {
			fill: transparent;
		}

		100% {
			fill: rgb(255, 255, 255);
		}
	}
	@keyframes animate-svg-fill-3-hover {
		0% {
			fill: rgb(255, 255, 255);
		}

		100% {
			fill: transparent;
		}
	}
	.svg-head-3 {
		animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s reverse both,
		animate-svg-fill-3 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
	}
	&__logo:hover .svg-head-3 {
		animation: animate-svg-stroke-3-hover 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s normal both,
		animate-svg-fill-3-hover 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
	}

	@keyframes animate-svg-stroke-4 {
		0% {
			stroke-dashoffset: 130.1905975341797px;
			stroke-dasharray: 130.1905975341797px;
		}

		100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 130.1905975341797px;
		}
	}
	@keyframes animate-svg-stroke-4-hover {
		0% {
			stroke-dashoffset: 130.1905975341797px;
			stroke-dasharray: 130.1905975341797px;
		}

		100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 130.1905975341797px;
		}
	}

	@keyframes animate-svg-fill-4 {
		0% {
			fill: transparent;
		}

		100% {
			fill: rgb(255, 255, 255);
		}
	}
	@keyframes animate-svg-fill-4-hover {
		0% {
			fill: rgb(255, 255, 255);
		}

		100% {
			fill: transparent;
		}
	}
	.svg-head-4 {
		animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s reverse both,
		animate-svg-fill-4 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
	}
	&__logo:hover .svg-head-4 {
		animation: animate-svg-stroke-4-hover 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s normal both,
		animate-svg-fill-4-hover 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
	}

	&__left {
		display: none;
	}
	&__right {
		display: none;
	}


}



.s1 {
	background: linear-gradient(180deg, #010516 0%, #072F64 49.72%, #000000 100%);

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		height: 160vw; /* 512px */
		width: 87.5vw;
		margin: 0 auto;
		background-color: black;
		border-radius: 12.5vw;
		--squircle-smooth: 0.8;
		--squircle-radius: 10px;
		mask-image: paint(squircle);
	}


	&__video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
		border-radius: 12.5vw;
		background-image: url(../media/poster.webp);
		background-size: cover;
		background-position: center;
		filter: grayscale(1) brightness(0.45) contrast(1.05);
		--squircle-smooth: 0.8;
		--squircle-radius: 10px;
		mask-image: paint(squircle);

		source { 
			object-fit: cover;
		}
	}
	
	&__h1 {
		z-index: 1;
		color: white;
		font-weight: 700;
		font-size: 6.25vw; /* 20px */
		line-height: 8.75vw; /* 28px */
		text-transform: uppercase;
		letter-spacing: 0.07em;
		margin-bottom: 3.125vw;
	}

	&__h2 {
		z-index: 1;
		color: white;
		font-size: 4.375vw; /* 14px */
		font-weight: 400;
		line-height: 6.25vw; /* 20px */
		text-align: center;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		color: white;
		margin-top: 7.8125vw;
		width: 71.875vw; /* 230px */
		height: 13.125vw; /* 42px */
		font-weight: 400;
		font-size: 4.375vw; /* 14px */
		border-radius: 1.25vw; /* 4px */
		text-align: center;
		margin-bottom: 25.625vw; /* 82px */
		background-color: #C42F75;
		background: linear-gradient(
			89deg,
			hsl(331deg 61% 47%),
			hsl(351deg 64% 50%),
			hsl(238deg 43% 40%),
			hsl(250deg 73% 40%)
		);
		background-size: 300% 100%;
		transition: background-position 1s, transform 0.4s;

		&:hover {
			background-position: 100% 0;
			transform: translateY(-0.2vw);
		}
	}
	
	&__mts {
		z-index: 1;
		width: 45.625vw; /* 146px */
		margin-bottom: 3.4375vw; /* 11px */
	}

	// Анимация Created by MTS
	@keyframes animate-svg-fill-5 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-5 {
		animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s both;
	}
	
	@keyframes animate-svg-fill-6 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-6 {
		animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6s both;
	}
	
	@keyframes animate-svg-fill-7 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-7 {
		animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s both;
	}
	
	@keyframes animate-svg-fill-8 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-8 {
		animation: animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8s both;
	}
	
	@keyframes animate-svg-fill-9 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-9 {
		animation: animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9s both;
	}
	
	@keyframes animate-svg-fill-10 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-10 {
		animation: animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4s both;
	}
	
	@keyframes animate-svg-fill-11 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-11 {
		animation: animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.1s both;
	}
	
	@keyframes animate-svg-fill-12 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-12 {
		animation: animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s both;
	}
	
	@keyframes animate-svg-fill-13 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-13 {
		animation: animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.3s both;
	}
	
	@keyframes animate-svg-fill-4 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-4 {
		animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4s both;
	}
	
	@keyframes animate-svg-fill-3 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-3 {
		animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s both;
	}
	
	@keyframes animate-svg-fill-1 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-1 {
		animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.6s both;
	}
	
	@keyframes animate-svg-fill-2 {
		0% {
			fill: transparent;
		}
		100% {
			fill: rgb(255, 255, 255);
		}
	}
	
	.svg-elem-2 {
		animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.7s both;
	}


	&__benefits {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 19.6875vw;
		/* 63px */
	}
	
	&__benefit {
		width: 46.875vw;
		/* 150px */
		min-height: 46.875vw;
		/* 150px */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
	



	&__benefit--image1 {
		width: 22.5vw; /* 72px */
	}


  
  
	&__benefit--image2 {
		width: 22.8125vw; /* 73px */

		@keyframes ben2-stroke-1 {
			0% {
			stroke-dashoffset: 438.2937316894531px;
			stroke-dasharray: 438.2937316894531px;
			}
		
			100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 438.2937316894531px;
			}
		}
		
		&:hover .ben2-1 {
			animation: ben2-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
						ben2-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
		}
		
		@keyframes ben2-stroke-2 {
			0% {
			stroke-dashoffset: 310.8056945800781px;
			stroke-dasharray: 310.8056945800781px;
			}
		
			100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 310.8056945800781px;
			}
		}
		
		&:hover .ben2-2 {
			animation: ben2-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
						ben2-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
		}
		
		@keyframes ben2-stroke-3 {
			0% {
			stroke-dashoffset: 39.499243718456135px;
			stroke-dasharray: 39.499243718456135px;
			}
		
			100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 39.499243718456135px;
			}
		}
		
		@keyframes ben2-fill-3 {
			0% {
			fill: transparent;
			}
		
			100% {
			fill: rgb(255, 255, 255);
			}
		}
		
		&:hover .ben2-3 {
			animation: ben2-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
						ben2-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
		}
		
		@keyframes ben2-stroke-4 {
			0% {
			stroke-dashoffset: 167.42620849609375px;
			stroke-dasharray: 167.42620849609375px;
			}
		
			100% {
			stroke-dashoffset: 0;
			stroke-dasharray: 167.42620849609375px;
			}
		}
		
		&:hover .ben2-4 {
			animation: ben2-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
						ben2-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
		}
	}
	&__benefit--image3 {
		width: 18.125vw; /* 58px */
	}
	&__benefit--image4 {
		width: 18.125vw; /* 58px */
	}

	&__benefit--text {
		color: white;
		font-weight: 500;
		text-align: center;
		font-size: 4.375vw; /* 14px */
		line-height: 6.25vw; /* 20px */
		min-height: 18.75vw; /* 60px */
		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin-top: 5vw; /* 16px */
	}
}


.s2 {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

	.overlay {
		display: block;
		position: sticky;
		width: 100vw;
		height: 100vh;
		top: 0px;
		z-index: 2;
		overflow: hidden;
		contain: layout;
		pointer-events: none;
	}


	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--logo {
			margin-top: 24.6875vw; /* 79px */
			width: 56.25vw;
		}

		&--text {
			width: 87.5vw;
			margin-top: 9.0625vw; /* 29px */
			text-align: center;
			font-size: 4.375vw; /* 14px */
			line-height: 6.25vw; /* 20px */
		}
	}

	&__posters {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--poster {
			position: sticky;
			top: 6vw;
			width: 87.5vw; /* 280px */
			height: 107.178125vw;
			border-radius: 2.09375vw;
			margin-top: 12.5vw; /* 40px */
			--squircle-smooth: 0.8;
			--squircle-radius: 10px;
			mask-image: paint(squircle);
			object-fit: cover;

			img { 
				border-radius: 2.09375vw;
				width: 100%;
				max-height: 100%;
				object-fit: cover;
				object-position: 50% 30%;
			}
			
		}
		
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 71.875vw; /* 230px */
		height: 13.125vw; /* 42px */
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
		border-radius: 1.25vw; /* 4px */
		color: white;
		text-align: center;
		font-size: 4.375vw; /* 14px */
		font-weight: 500; /* medium */
		margin-top: 20.3125vw; /* 65px */
		margin-bottom: 29.6875vw; /* 95px */		
		background-color: #C42F75;
		background: linear-gradient(
			89deg,
			hsl(331deg 61% 47%),
			hsl(351deg 64% 50%),
			hsl(238deg 43% 40%),
			hsl(250deg 73% 40%)
		);
		background-size: 300% 100%;
		transition: background-position 1s, transform 0.4s;

		&:hover {
			background-position: 100% 0;
			transform: translateY(-0.2vw);
		}
	}
}


.s3 {
	background-color: #010516;
	padding-top: 22.5vw; /* 72px */
	overflow: hidden;

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: 700;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin: 0 auto;
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 28px */
	}


	.marquee {
		position: relative;
		margin-top: 11.875vw; /* 38px */
		height: 58.125vw;
		overflow: hidden;
	}

	.track {
		position: absolute;
		white-space: nowrap;
		animation: marquee 32s linear infinite;
	}

	@keyframes marquee {
		from { transform: translateX(0); }
		to { transform: translateX(-50%); }
	}

	&__images {
		width: 745vw;
		height: 58.125vw; /* 186px */
		display: flex;
		justify-content: space-around;

		&--image {
			width: 42.8125vw;
			object-fit: cover;
			border-radius: 1.25vw; /* 4px */
			--squircle-smooth: 0.8;
			--squircle-radius: 4px;
			mask-image: paint(squircle);
		}

		&--column {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.s3__images--image {
				height: 26.5625vw; /* 85px */
				object-fit: cover;
			}
		}
	}


}

.s45 {
	height: calc(100vw + 160vw + 205vw + 285vw + 100vh);
	overflow: hidden;
	background-color: #010516;

		&__wrapper {
			display: flex;
			flex-wrap: nowrap;
		}

		&__section {
			width: 100vw;
			height: 101vh;
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			justify-content: center;
			align-items: center;
			background-color: #010516;
		}

		&__section1 {

			&--header {
				font-weight: 700;
				font-size: 7.5vw; /* 24px */
				line-height: 140%; /* 34px */
				text-align: center;
				color: white;
				margin-bottom: 4.55729167vw;
			}
			&--image { 
				width: 36vw;
				max-height: 50vh;
				object-fit: scale-down;
			}
		}
		&__section2 {
			width: 160vw;

			&--image { 
				border-radius: 1vw;
				width: 125vw;
				height: 96.25vw;
				max-height: 70vh;
				object-fit: cover;
				box-shadow: 0px 0px 0px 2.5vw #121212, 0px 0px 0px 2.7vw #727272;
			}
		}
		&__section3 {
			width: 205vw;

			&--image { 
				border-radius: 1vw;
				width: 167vw;
				max-height: 80vh;
				object-fit: scale-down;
			}
		}
		&__section4 {
			width: 285vw;

			&--image {
				border: 1.875vw solid #272C30;
				width: 222vw;
				max-height: 90vh;
				object-fit: scale-down;
			}
		}
}


.s5 {
	background-color: #010516;
	overflow: hidden;

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: 700;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin: 19.6875vw auto 0 auto; /* 63px */
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 28px */
	}

	&__image {
		width: 87.5vw; /* 280px */
		margin: 14.0625vw auto 0 auto;  // 45px
	}


	&__tv {
		margin-top: 10.3125vw;

		&--row {
			display: flex;
		}

		.second-row {
			margin-left: -8.75vw; //28px
		}

		&--channel {
			background-color: white;
			border-radius: 0.9375vw; // 3px
			width: 19.375vw; // 62px
			height: 19.375vw; // 62px
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 3.75vw;
		}

		&--image {
			max-width: 70%;
			max-height: 60%;
			object-fit: contain;
		}
	}

	.marquee {
		position: relative;
		height: 67.8125vw;
		overflow-x: hidden;
		will-change: transform;
	}
 
	.track {
		position: absolute;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 42s linear infinite;
	}

	.track2 {
		position: absolute;
		top: 23.75vw;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 32s linear infinite;
	}	

	.track3 {
		position: absolute;
		top: 47.8125vw;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 52s linear infinite;
	}
	@keyframes marquee {
		from { transform: translateX(0); }
		to { transform: translateX(-50%); }
	}
}


.s6 {
	background-color: #010516;
	padding-top: 22.1875vw;
	
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: black;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/spanchbob.jpg);
		background-size: cover;
		background-position: center;
		width: 87.5vw;
		height: 160vw;
		margin: 0 auto;
		border-radius: 12.5vw;
	}

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: 700;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin: 19.6875vw auto 0 auto; /* 63px */
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 28px */
	}

}



.s7 {
	background-color: #010516;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		width: 65vw;
		margin-top: 21.875vw;
	}

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: 700;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 63px */
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 28px */
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 71.875vw; /* 230px */
		height: 13.125vw; /* 42px */
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
		border-radius: 1.25vw; /* 4px */
		color: white;
		text-align: center;
		font-size: 4.375vw; /* 14px */
		font-weight: 500; /* medium */
		margin-top: 10.3125vw; /* 65px */
		background-color: #C42F75;
		background: linear-gradient(
			89deg,
			hsl(331deg 61% 47%),
			hsl(351deg 64% 50%),
			hsl(238deg 43% 40%),
			hsl(250deg 73% 40%)
		);
		background-size: 300% 100%;
		transition: background-position 1s, transform 0.4s;

		&:hover {
			background-position: 100% 0;
			transform: translateY(-0.2vw);
		}
	}

}



.s8 {
	background-color: #010516;
	padding-top: 22.1875vw;
	padding-bottom: 21.875vw;

	// скрытие лейбла визуально, скринридеры смогут прочитать
	&__screenreader {
		border: 0;
		clip: rect(0px, 0px, 0px, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}


	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: grey;
		width: 87.5vw;
		height: min(50vh, 160vw);
		margin: 0 auto;
		border-radius: 12.5vw;
		mask-image: radial-gradient(white, black);
	}

	&__logo1 {
		width: 46.5625vw;
	}

	&__logo2 {
		width: 70vw;
	}

	&__logo3 {
		width: 30vw;
	}

	.slides-container {
		position: relative;
		overflow: hidden;  
		display: flex;
		flex: 1;
	}

	.slide {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-size: cover;
		background-position: center;
		width: calc(100% / 3);
		width: 100%;
		will-change: transform;
	}

	.slide1 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/start.jpeg);
	}

	.slide2 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/amediateka.jpeg);
	}

	.slide3 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/ivi.jpeg);
	}	

	.slides-inner {
		position: relative;
		height: 100%;
		width: 100%;  
		overflow: hidden;
	}


}


.s9 {
	background-color: #EBECF0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 31.5625vw;
	border-radius: 0 0 12.5vw 12.5vw;

	&__header {
		font-weight: 700;
		font-size: 7.5vw;
		text-align: center;
		margin-top: 18.75vw;
		line-height: 140%;
		margin-bottom: 6.6vw;
	}

	details {
		width: 87.5vw;
		min-height: 15.9375vw;
		background: #F0F1F5;
		box-shadow: inset 0.625vw 0.625vw 1.5625vw #BABECC, inset -1.5625vw -1.5625vw 3.125vw #FFFFFF;
		margin-top: 1.875vw;
		list-style: none;
		border-radius: 1.875vw;
		cursor: pointer;
		
		&[open]{
			box-shadow: -1.5625vw -1.5625vw 6.25vw #FFFFFF, 1.5625vw 1.5625vw 6.25vw #BABECC;
		}

		summary {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 3.75vw 4.0625vw;
			font-weight: 700;
			font-size: 5.625vw;
			line-height: 140%;
			color: #141414;

			&::-webkit-details-marker {
				display:none;
			}
		}

		p {
			font-weight: 500;
			font-size: 4.375vw;
			line-height: 140%;
			color: #141414;
			padding: 0 4.0625vw 8.4375vw 4.0625vw;
		}
	}




}

.footer {
	overflow: hidden;
	
	&-container {
		display: flex;
		flex-direction: column;
		height: 134.0625vw;
	}

	&__logo {
		order: 1;
		width: 60vw;
		margin: 25vw auto 0 auto; /* 9px */
		display: flex; /* чтобы высота была равна высоте картинки */
	}
	&__left {
		order: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-top: 13.4375vw;
		font-size: 6.25vw;
		font-weight: 400;
		line-height: 140%;
		height: 22.5vw;

		&--link {
			color: white;
		}
	}
	&__right {
		order: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		font-size: 6.25vw;
		font-weight: 400;
		line-height: 140%;
		height: 22.5vw;
		margin-top: 5vw;

		&--link {
			color: white;
		}
	}
}