@font-face {
	font-weight: 700; /* bold */
	font-family: 'Hero New';
	src: url('../fonts/Hero-New-Bold.woff2');
}
@font-face {
	font-weight: 400; /* regular / normal */
	font-family: 'Hero New';
	src: url('../fonts/Hero-New-Regular.woff2');
}

:root {
	background: linear-gradient(89deg, #3A3D91 0.92%, #393289 32.37%, #C12E7D 73.27%, #C62E68 98.43%, #CC2D50 121.71%);
	font-family: 'Hero New', system-ui, sans-serif;
}

.header {
	display: flex;
	justify-content: space-around;

	&__left {
		display: none;
	}
	&__right {
		display: none;
	}
	&__logo {
		width: 31.25vw;
		margin: 2.8125vw auto; /* 9px */
		display: flex; /* чтобы высота была равна высоте картинки */
	}

}



.s1 {
	background: linear-gradient(180deg, #010516 0%, #072F64 49.72%, #000000 100%);

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		height: 160vw; /* 512px */
		width: 87.5vw;
		margin: 0 auto;
		background-color: black;
		border-radius: 12.5vw;
	}


	&__video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
		border-radius: 12.5vw;
		filter: grayscale(1) brightness(0.45) contrast(1.05);
	}
	
	&__h1 {
		z-index: 1;
		color: white;
		font-weight: 800;
		font-size: 6.25vw; /* 20px */
		line-height: 8.75vw; /* 28px */
		text-transform: uppercase;
		letter-spacing: 0.07em;
	}
	&__h2 {
		z-index: 1;
		color: white;
		font-size: 4.375vw; /* 14px */
		line-height: 6.25vw; /* 20px */
		text-align: center;
	}
	&__button {
		z-index: 1;
		color: white;
		background-color: #C42F75;
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);

		margin-top: 7.8125vw;
		width: 71.875vw; /* 230px */
		height: 13.125vw; /* 42px */
		font-weight: 400;
		font-size: 4.375vw; /* 14px */
		border-radius: 0.325520833vw; /* 10px */
		text-align: center;
		margin-bottom: 25.625vw; /* 82px */
	}

	&__img {
		z-index: 1;
		width: 45.625vw; /* 146px */
		margin-bottom: 3.4375vw; /* 11px */
	}


	&__benefits {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 19.6875vw; /* 63px */
	}

	&__benefit {
		width: 46.875vw; /* 150px */
		min-height: 46.875vw; /* 150px */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}

	&__benefit--image1 {
		width: 22.5vw; /* 72px */
	}
	&__benefit--image2 {
		width: 22.8125vw; /* 73px */
	}
	&__benefit--image3 {
		width: 18.125vw; /* 58px */
	}
	&__benefit--image4 {
		width: 18.125vw; /* 58px */
	}

	&__benefit--text {
		color: white;
		font-weight: 600;
		text-align: center;
		font-size: 4.375vw; /* 14px */
		line-height: 6.25vw; /* 20px */
		min-height: 18.75vw; /* 60px */
		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin-top: 5vw; /* 16px */
	}
}


.s2 {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	&__svg-perehod {
		width: 100vw;
		display: none;
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--logo {
			margin-top: 24.6875vw; /* 79px */
			width: 56.25vw;
		}

		&--text {
			width: 87.5vw;
			margin-top: 9.0625vw; /* 29px */
			text-align: center;
			font-size: 4.375vw; /* 14px */
			line-height: 6.25vw; /* 20px */
		}
	}

	&__posters {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--poster {
			width: 87.5vw; /* 280px */
			border-radius: 2.09375vw; /* 6.7px */
			margin-top: 12.5vw; /* 40px */
		}
	}

	&__button {
		width: 71.875vw; /* 230px */
		height: 13.125vw; /* 42px */
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
		border-radius: 1.25vw; /* 4px */
		color: white;
		text-align: center;
		font-size: 4.375vw; /* 14px */
		font-weight: 500; /* medium */
		margin-top: 20.3125vw; /* 65px */
		margin-bottom: 29.6875vw; /* 95px */
	}
}


.s3 {
	background-color: #010516;
	padding-top: 22.5vw; /* 72px */
	overflow: hidden;

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: bold;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin: 0 auto;
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 28px */
	}

	&__images {
		margin-top: 11.875vw; /* 38px */
		margin-left: 6.25vw; /* 20px */
		width: 186.25vw;
		height: 58.125vw; /* 186px */
		display: flex;
		justify-content: space-between;

		&--image {
			width: 42.8125vw;
			object-fit: cover;
			border-radius: 1.25vw; /* 4px */
		}

		&--column {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			img {
				height: 26.5625vw; /* 85px */
				object-fit: cover;
			}
		}
	}
}


.s4 {
	background-color: #010516;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: bold;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin-top: 22.8125vw; /* 73px */
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin-top: 8.75vw; /* 28px */
	}

	&__image {
		width: 87.5vw; /* 280px */
		margin-top: 12.1875vw;
	}
}


.s5 {
	background-color: #010516;
	overflow: hidden;

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: bold;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin: 19.6875vw auto 0 auto; /* 63px */
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 28px */
	}

	&__image {
		width: 87.5vw; /* 280px */
		margin: 14.0625vw auto 0 auto;  // 45px
	}


	&__tv {
		margin-top: 10.3125vw;
		margin-left: 6.25vw; // 20px
		width: 159.375vw;
		
		&--row {
			display: flex;
			margin-top: 3.75vw;
		}

		.first-row {
			margin-left: 8.75vw; //28px
		}
		.third-row {
			margin-left: 8.75vw; //28px
		}
		&--channel {
			background-color: white;
			border-radius: 0.9375vw; // 3px
			width: 19.375vw; // 62px
			height: 19.375vw; // 62px
			display: flex;
			place-content: center;
			margin-right: 3.75vw;
		}

		&--image1 {
			width: 14.375vw; // 46px
		}
		&--image2 {
			width: 8.125vw;
		}
		&--image3 {
			width: 14.375vw;
		}
		&--image4 {
			width: 13.4375vw;
		}
		&--image5 {
			width: 14.375vw;
		}
		&--image6 {
			width: 12.8125vw; // 41
		}

		&--image7 {
			width: 11.25vw;
		}
		&--image8 {
			width: 13.75vw;
		}
		&--image9 {
			width: 9.6875vw;
		}
		&--image10 {
			width: 14.375vw;
		}
		&--image11 {
			width: 10.625vw;
		}
		&--image12 {
			width: 12.5vw;
		}


		&--image13 {
			width: 17.1875vw;
		}
		&--image14 {
			width: 15.625vw;
		}
		&--image15 {
			width: 13.125vw;
		}
		&--image16 {
			width: 14.375vw;
		}
		&--image17 {
			width: 14.375vw;
		}
		&--image18 {
			width: 12.8125vw;
		}
	}
}


.s6 {
	background-color: #010516;
	padding-top: 22.1875vw;
	
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: blue;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/media/spanchbob.png);
		background-size: cover;
		background-position: center;
		width: 87.5vw;
		height: 160vw;
		margin: 0 auto;
		border-radius: 12.5vw;
	}

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: bold;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin: 19.6875vw auto 0 auto; /* 63px */
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 28px */
	}

}



.s7 {
	background-color: #010516;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		width: 65vw;
		margin-top: 21.875vw;
	}

	&__header {
		width: 87.5vw; /* 280px */
		font-weight: bold;
		font-size: 7.5vw; /* 24px */
		line-height: 140%; /* 34px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 63px */
	}

	&__text {
		width: 87.5vw; /* 280px */
		font-weight: 400; /* normal */
		font-size: 4.375vw; /* 14px */
		line-height: 140%; /* 20px */
		text-align: center;
		color: white;
		margin: 8.75vw auto 0 auto; /* 28px */
	}

	&__button {
		width: 71.875vw; /* 230px */
		height: 13.125vw; /* 42px */
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
		border-radius: 1.25vw; /* 4px */
		color: white;
		text-align: center;
		font-size: 4.375vw; /* 14px */
		font-weight: 500; /* medium */
		margin-top: 10.3125vw; /* 65px */
	}

}



.s8 {
	padding-top: 22.1875vw;
	padding-bottom: 21.875vw;
	background-color: #010516;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: blue;
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/media/startbg.png);
		background-size: cover;
		background-position: center;
		width: 87.5vw;
		height: 160vw;
		margin: 0 auto;
		border-radius: 12.5vw;
	}

	&__logo {
		width: 46.5625vw;
	}
}


.s9 {
	background-color: #EBECF0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 31.5625vw;

	&__header {
		width: 18.75;
		font-weight: 700;
		font-size: 7.5vw;
		text-align: center;
		margin-top: 18.75vw;
		line-height: 140%;
		margin-bottom: 6.6vw;
	}

	details {
		padding: 3.75vw 4.0625vw;
		width: 87.5vw;
		min-height: 15.9375vw;
		background: #EBECF0;
		box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFFFFF;
		margin-top: 1.875vw;
		list-style: none;
		border-radius: 1.875vw;
	}

	summary {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 700;
		font-size: 5.62500vw;
		line-height: 140%;
		min-height: 15.9375vw;
		color: #141414;
	}


}

.footer {
	display: flex;
	flex-direction: column;

	height: 134.0625vw;


	&__logo {
		order: 1;
		width: 60vw;
		margin: 25vw auto 0 auto; /* 9px */
		display: flex; /* чтобы высота была равна высоте картинки */
	}
	&__left {
		order: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		color: white;
		margin-top: 13.4375vw;
		font-size: 6.25vw;
		line-height: 140%;
		height: 22.5vw;
	}
	&__right {
		order: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		color: white;
		font-size: 6.25vw;
		line-height: 140%;
		height: 22.5vw;
		margin-top: 5vw;
	}
}